body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: radial-gradient(circle at top, #111, #000);
  color: white;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  position: relative;
}

.container {
  z-index: 2;
  text-align: left; 
  margin-left: 10vw; 
  max-width: 400px; 
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.2rem;
  line-height: 1.1;
}

.tagline {
  color: #aaa;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.links a {
  display: block;
  margin: 0.6rem 0;
  padding: 0.6rem 1.2rem;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  width: fit-content;
}

.links a:hover {
  background: #1db954;
  color: #000;
}
.gif-derecha {
  position: fixed;      
  right: 0;            
  bottom: 0;           
  height: 100vh;        
  width: auto;         
  object-fit: contain;
  z-index: 1;         
  pointer-events: none;
}
